<div class="materialContainer">
  <div class="box">
    <div class="title">LOGIN</div>

    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <div class="input">
        <label for="name">Username</label>
        <input type="text" formControlName="email" id="name" required />
        <span class="spin"></span>
      </div>

      <div class="input">
        <label for="pass">Password</label>
        <input type="password" formControlName="password" id="pass" required />
        <span class="spin"></span>
      </div>

      <div class="button login">
        <button type="submit"><span>GO</span> <i class="fa fa-check"></i></button>
      </div>

      <a href="" class="pass-forgot">Forgot your password?</a>
    </form>

    <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
  </div>
</div>